body {
    background-color: blue;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

img {
    width: 400px;
    padding-left: 38%;
}

h2 {
    color: white;
    text-align: center;
}